# Kodi
alias kodilog="tail -f -100 ~/Library/Logs/kodi.log"

# PHP
alias art="php artisan"
alias phpini="php -i | grep 'Configuration File'" # php --ini

# Git
alias commitmsg='curl -s http://whatthecommit.com/index.txt'

# iPhone simulator
alias simulator='open /Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/De‌​veloper/Applications/iPhone\ Simulator.app'

# Shortcuts
alias drop="cd ~/Dropbox"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/Project"
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias .....='cd ../../../../'
alias ......='cd ../../../../../'
alias sublimehome='cd Library/Application\ Support/Sublime\ Text\ 3/Packages/User'

alias cl='clear'
alias df='df -h'
alias du='du -ach'
alias mkdir='mkdir -pv'

# ls
# -F: Display a slash (`/') immediately after each pathname
# -o: skip group
alias ls='ls -FlaGho'
alias lsd="ls -lFG | grep '^d'"

# Process
alias psg="ps aux | grep -v grep | grep -i -e VSZ -e"

# Unsafe web
alias unsafeweb="open -a /opt/homebrew-cask/Caskroom/google-chrome-canary/latest/Google\ Chrome\ Canary.app --args --disable-web-security"

# Cask
alias cask="brew cask"

# Pygments
alias ccat=pygmentize

# Short-cuts for copy-paste.
alias copy='pbcopy'
alias paste='pbpaste'
alias x="pbpaste | pbcopy"

# Find by name
alias f="find . -name"

# Lists the ten most used commands.
alias history-stat="history 0 | awk '{print \$2}' | sort | uniq -c | sort -n -r | head"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Get week number
alias week='date +%V'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update --system; sudo gem update'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Enhanced WHOIS lookups
alias whois="whois -h whois-servers.net"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Image size
alias image-size="sips -g pixelWidth -g pixelHeight"

# Lock
alias lock="open -a ScreenSaverEngine"
