#Quick look
function ql() {
  qlmanage -p "$*" >& /dev/null;
}

export NNN_TMPFILE="/tmp/nnn"
function n() {
  nnn "$@"

  if [ -f $NNN_TMPFILE ]; then
    . $NNN_TMPFILE
    rm $NNN_TMPFILE
  fi
}

# Take this repo and copy it to somewhere else minus the .git stuff.
function gitexport (){
  mkdir -p "$1"
  git archive master | tar -x -C "$1"
}

# Extract most know archives with one command
function extract () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1     ;;
      *.tar.gz)    tar xzf $1     ;;
      *.bz2)       bunzip2 $1     ;;
      *.rar)       unrar e $1     ;;
      *.gz)        gunzip $1      ;;
      *.tar)       tar xf $1      ;;
      *.tbz2)      tar xjf $1     ;;
      *.tgz)       tar xzf $1     ;;
      *.zip)       unzip $1       ;;
      *.Z)         uncompress $1  ;;
      *.7z)        7z x $1        ;;
      *.sfx)       unrar e $1     ;;
      *)     echo "'$1' cannot be extracted via extract()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

# Copy w/ progress
function cpp() {
  rsync -WavP --human-readable --progress $1 $2
}

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
function targz() {
  local tmpFile="${@%/}.tar"
  tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1

  size=$(
    stat -f"%z" "${tmpFile}" 2> /dev/null; # OS X `stat`
    stat -c"%s" "${tmpFile}" 2> /dev/null # GNU `stat`
  )

  local cmd=""
  if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
    # the .tar file is smaller than 50 MB and Zopfli is available; use it
    cmd="zopfli"
  else
    if hash pigz 2> /dev/null; then
      cmd="pigz"
    else
      cmd="gzip"
    fi
  fi

  echo "Compressing .tar using \`${cmd}\`…"
  "${cmd}" -v "${tmpFile}" || return 1
  [ -f "${tmpFile}" ] && rm "${tmpFile}"
  echo "${tmpFile}.gz created successfully."
}

# Determine size of a file or total size of a directory
function fs() {
  if du -b /dev/null > /dev/null 2>&1; then
    local arg=-sbh
  else
    local arg=-sh
  fi
  if [[ -n "$@" ]]; then
    du $arg -- "$@"
  else
    du $arg .[^.]* *
  fi
}

function topcommand() {
  history | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl |  head -n10
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
  local port="${1:-8000}"
  # sleep 1 && open "http://localhost:${port}/" &
  # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
  # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
  python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}

# `o` with no arguments opens current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .
  else
    open "$@"
  fi
}

# Ignoring the `.git` directory, listing directories first.
# The output gets piped into `less` with options to preserve color and
# line numbers, unless the output is small enough for one screen.
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX
}


# Thanks to Anton Holmgren (https://github.com/alksl)
# And Stein Fletcher (http://www.snip2code.com/Snippet/84218)
# Change the mac address of a device (useful for various spoofing, e.g. for
# extending limited access on public wifi networks).
function changemacaddress() {
  # get the current mac address
  old=`/sbin/ifconfig en0 | awk '/ether/ {print $2}'`

  # Generates a random new mac address using openssl
  new=`openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//'`

  # change the actual address
  sudo /sbin/ifconfig en0 ether $new_addr

  timestamp=`date`
  echo "$timestamp: Changed mac address from $old_addr to $new_addr"
}

# Rewritten from https://github.com/paulmillr/dotfiles/blob/master/home/.zshrc.sh
# Count code lines in some directory.
# $ loc py js css
# # => Lines of code for .py: 3781
# # => Lines of code for .js: 3354
# # => Lines of code for .css: 2970
# # => Total lines of code: 10105
function loc() {
  local total
  local firstletter
  local ext
  local lines
  total=0
  for ext in $@; do
    firstletter=$(echo $ext | cut -c1-1)
    if [[ firstletter != "." ]]; then
      ext=".$ext"
    fi
    lines=0
    for file in $(find . -iname "*$ext" -type f); do
      temp=`cat $file | wc -l`
      temp=${temp// /}
      lines=$(($lines + $temp))
    done
    total=$(($total + $lines))
    echo "Lines of code for ${fg[blue]}$ext${reset_color}: ${fg[green]}$lines${reset_color}"
  done
  echo "${fg[blue]}Total${reset_color} lines of code: ${fg[green]}$total${reset_color}"
}

# https://github.com/paulmillr/dotfiles/blob/master/home/.zshrc.sh
# Show how much RAM application uses.
# $ ram safari
# # => safari uses 154.69 MBs of RAM.
function ram() {
  local sum
  local items
  local app="$1"
  if [ -z "$app" ]; then
    echo "First argument - pattern to grep from processes"
  else
    sum=0
    for i in `ps aux | grep -i "$app" | grep -v "grep" | awk '{print $6}'`; do
      sum=$(($i + $sum))
    done
    sum=$(echo "scale=2; $sum / 1024.0" | bc)
    if [[ $sum != "0" ]]; then
      echo "${fg[blue]}${app}${reset_color} uses ${fg[green]}${sum}${reset_color} MBs of RAM."
    else
      echo "There are no processes with pattern '${fg[blue]}${app}${reset_color}' are running."
    fi
  fi
}

# https://github.com/paulmillr/dotfiles/blob/master/home/.zshrc.sh
# 4 lulz.
function compute() {
  while true; do head -n 100 /dev/urandom; sleep 0.1; done \
    | hexdump -C | grep "ca fe"
}

# List all aliases with fuzzy search
function aliases() {
  command=$(alias |
    ack --color --color-match=bright_blue --passthru '^[^=]+' |
    fzf-tmux --cycle --ansi --reverse --height=90% --query="$1" --multi --select-1 --exit-0 --tac |
    cut -d "=" -f 1)
  echo $command
}

# Use z to go to a folder
unalias g
function g() {
  # Color scheme used exclusively here
  FZF_DEFAULT_OPTS='
    --color hl:33,fg+:214,hl+:33
    --color spinner:208,pointer:196,marker:208'

  if type fzf >/dev/null 2>&1; then
    [ $# -gt 0 ] && _z "$*" && return
    if type ack >/dev/null 2>&1; then # Coloring
      cd "$(_z -l 2>&1 |
        sed 's/^[0-9,.]* *//' | # Remove score
        ack --color --color-match=bright_green --passthru '[^/ ]+$' |
        ack --color --color-match=bright_green --passthru '/' |
        fzf --ansi --cycle --height=40% --reverse --inline-info --no-sort --tac --query "${*##-* }")"
    else
      cd "$(_z -l 2>&1 |
        sed 's/^[0-9,.]* *//' | # Remove score
        fzf --ansi --cycle --height=40% --reverse --inline-info --no-sort --tac --query "${*##-* }")"
    fi
  else
    _z "$*"
  fi
}
