"*":
  "exception-reporting":
    userId: ""
  welcome:
    showOnStartup: false
  metrics:
    userId: ""
  core:
    disabledPackages: [
      "autoflow"
      "ide-flow"
      "linter-jshint"
    ]
  linter:
    "linter-jshint":
      jshintExecutablePath: "/usr/local/bin/jshint"
    statusBar: "Show error if the cursor is in range"
    showErrorInline: false
    ignoredLinterErrors: [
      "jshint"
    ]
    lintDebug: true
    showInfoMessages: true
  "atom-beautify":
    html:
      brace_style: "collapse"
      indent_char: " "
      indent_scripts: "normal"
      indent_size: 2
      max_preserve_newlines: 1
      preserve_newlines: true
      unformatted: [
        "a"
        "sub"
        "sup"
        "b"
        "i"
        "u"
      ]
      wrap_line_length: 0
    css:
      indent_char: " "
      indent_size: 4
    js:
      indent_size: 2
      indent_char: " "
      indent_level: 0
      indent_with_tabs: false
      preserve_newlines: true
      max_preserve_newlines: 2
      jslint_happy: true
    _analyticsUserId: ""
  editor:
    scrollPastEnd: true
    invisibles: {}
    lineHeight: 1.6
    showIndentGuide: true
    tabLength: 4
    fontFamily: "Menlo"
    showInvisibles: true
    fontSize: 14
  "autocomplete-plus": {}
  docblockr:
    return_description: false
  "ide-flow":
    flowPath: "/usr/local/bin/flow"
  "linter-jshint": {}
  "linter-eslint": {}
  "git-projects":
    rootPath: "/Users/tjoskar/Project"
    maxDepth: 1
  "atom-ternjs": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ini.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
